<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=yes" />
<meta name="keywords" content="意大利快三快三"/>
<meta name="description" content="意大利快三 是专门以提供各种走势图为主的专业网站，每期及时更新号码"/>
<title>意大利快三</title>
<link href="${BASE_PATH}images/favicon.ico" rel="shortcut icon"/>
<link rel="stylesheet" href="${BASE_PATH}css/iconfont.css"/>
<script src="${BASE_PATH}js/jquery.js"></script>
<style>
html,body{height:100%; font-size:13px; margin: 0px; padding: 0px;}
.titleTable td,.titleTable th{border-top:1px solid #f1f1f1;border-left:1px solid #f1f1f1;}
#zoushiPuture td{border-top:1px solid #f1f1f1;border-left:1px solid #f1f1f1; height:30px;}
</style>
</head>

<body>
<div style="width: 100%; background: #3E94F1; color: #fff; margin-top:0px; line-height: 50px;">
	<div style="width: 270px;  margin: 0px auto;  text-align: center;">
		<div style="float:left; margin-top:13px; margin-right: 5px;">
			<img src="${BASE_PATH}images/yidali.png" style="width:25px; height:25px; border-radius:25px;"/>
		</div>
		<div style="float:left;font-size:15px;">意大利快三</div>
		<div style="float:left; margin-left:10px; font-size: 15px;">距离开奖</div>
		<div id="mmBox" style="float: left; margin-left:5px; width: 25px; height: 25px; border-radius: 35px; background: #fff; color: #3e94f1; line-height: 25px; font-size: 18px; margin-top: 12px;">--</div>
		<div style="float:left; margin-left: 5px; font-weight:700;">:</div>
		<div id="ssBox" style="float: left; margin-left: 5px; width: 25px; height: 25px; border-radius: 35px; background: #fff; color: #3e94f1; line-height: 25px; font-size: 18px; margin-top: 12px;">--</div>
		<div style="clear:both;"></div>
	</div>
</div>
<style>
.ulBoxResult li{text-align:center;float:left; width:30px; height:30px; font-size:18px; background:#E33026; color:#fff; margin-left:5px; line-height:30px;}
.ulBoxResult2 li{text-align:center;float:left; width:30px; height:30px; font-size:15px; background:#3E94F1; border-radius:20px; color:#fff; margin-left:5px; line-height:30px;}
</style>
<div>
	<div style="padding:10px; border:1px solid #f00; margin:10px auto; background: #F9F9F9; border: 1px solid #f1f1f1;">
		<div style="width:280px; margin:0px auto;">
		<div style="float:left; padding:0px 10px; border-right:1px solid #ccc;">
			<ul class="ulBoxResult" style="padding:0px; margin:0px; list-style-type:none;">
				<li id="num1">--</li>
				<li id="num2">--</li>
				<li id="num3">--</li>
				<li style="background:none; color:#000;width:25px; font-size:12px;">和值</li>
				<li id="sum" style="background:#8F7A9E;">--</li>
				<div style="clear:both"></div>
			</ul>
		</div>
		<div style="float:left; padding:0px 10px;">
			<ul class="ulBoxResult2" style="padding:0px; margin:0px; list-style-type:none;">
				<li id="dx" style="margin-left:0px;">--</li>
				<li id="ds">--</li>
				<div style="clear:both"></div>
			</ul>
		</div>
		<div style="clear:both;"></div>
		</div>
	</div>
</div>
<div id="contentBox" style="width:100%; padding:0px; overflow: auto;">
	<div id="zoushiBox" style="margin:0px auto; display:block; width:100%;">
		<!--<table class="titleTable" height="61" border="0" cellpadding="0" cellspacing="0" style="width:100%; text-align:center; border-right:1px solid #f1f1f1;">
		  <tr>
		    <td style="width:100px;" rowspan="2" scope="col">期号</td>
		    <td style="width:90px;" colspan="3" rowspan="2" scope="col">开奖号码</td>
		    <td style="width:50px;" rowspan="2">和值</td>
		    <td colspan="2" scope="col">大小</td>
		    <td colspan="2" scope="col">单双</td>
		  </tr>
		  <tr>
		    <td style="width:35px">大</td>
		    <td style="width:35px">小</td>
		    <td style="width:35px">单</td>
		    <td style="width:35px">双</td>
		  </tr>
		</table>-->
		<table id="zoushiPuture" border="0" cellpadding="0" cellspacing="0" style="width:100%; text-align:center; border-bottom:1px solid #f1f1f1; border-right:1px solid #f1f1f1; margin-bottom:50px;">
			<tr style="background:#f9f9f9;">
				<td rowspan="2" style="width:100px;">期号</td>
				<td rowspan="2" style="width:90px; font-weight:700;">开奖号码</td>
				<td rowspan="2" style="width:50px;">和值</td>
				<td colspan="2" style="width:35px;">大小</td>
				<td colspan="2" style="width:35px;">单双</td>
			</tr>
			<tr style="background:#f9f9f9;">
				<td style="width:35px;">大</td>
				<td style="width:35px;">小</td>
				<td style="width:35px;">单</td>
				<td style="width:35px;">双</td>
			</tr>
		</table>
		<!--<table id="recountTable" style="width:100%; text-align:center;" border="0" cellpadding="0" cellspacing="0">
			<tr style="height:36px;">
				<td colspan="3" style="width:242px;">出现次数</td>
				<td style="width:35px;">28</td>
				<td style="width:35px;">20</td>
				<td style="width:35px;">28</td>
				<td style="width:35px;">20</td>
			</tr>
		</table>-->
		<div id="canvasBox1"></div>
		<div id="canvasBox2"></div>
		<div id="canvasBox3"></div>
	</div>
</div>
<style>
.ulbox li{float:left; text-align:center; width:21.25%;}
.ulbox li a{text-decoration:none; outline:none;}
</style>
<script>
$(function(){
	var showvar = true;
	$(".ulbox li").click(function(){
		if($(this).hasClass("searchBtn")){
			if(showvar){
				$("#searchKey").val("");
				$("#searchDiv").css("display","block");
				showvar = false;
				$(this).css("color","#3E94F1");
			}else{
				$("#searchDiv").css("display","none");
				showvar = true;
				$(this).css("color","#838383");
			}
			
		}else{
			$("#grueBox").css("display","block");
			var ValueStr = $(this).find("span").text();
			if(ValueStr=="50"||ValueStr==50){
				window.location.href = "${BASE_PATH}index.html?num=50";
			}else if(ValueStr=="100"||ValueStr==100){
				window.location.href = "${BASE_PATH}index.html?num=100";
			}else if(ValueStr=="200"||ValueStr==200){
				window.location.href = "${BASE_PATH}index.html?num=200";
			}else{
				window.location.href = "${BASE_PATH}index.html";
			}
		}
	});	
});
</script>
<div style="width: 100%;  background: #fff; position: fixed; bottom: 0px;">
	<ul class="ulbox" style="margin: 0px; padding: 5px 0px; list-style-type: none; line-height: 20px; box-shadow: 0px 10px 10px 10px #999;">
		<li style="color:${numStr==30?'#3E94F1':'#666'};">
			<div><i class="icon iconfont icon-yanjing"></i></div>
			<div style="font-size:13px;">显示<span>30</span>条</div>
		</li>
		<li style="color:${numStr==50?'#3E94F1':'#666'};">
			<div><i class="icon iconfont icon-yanjing"></i></div>
			<div style="font-size:13px;">显示<span>50</span>条</div>
		</li>
		<li class="searchBtn" style="width:15%">
			<div style="line-height: 40px;"><i class="icon iconfont icon-search" style="font-size: 25px;"></i></div>
		</li>
		<li style="color:${numStr==100?'#3E94F1':'#666'};">
			<div><i class="icon iconfont icon-yanjing"></i></div>
			<div style="font-size:13px;">显示<span>100</span>条</div>
		</li>
		<li style="color:${numStr==200?'#3E94F1':'#666'};">
			<div><i class="icon iconfont icon-yanjing"></i></div>
			<div style="font-size:13px;">显示<span>200</span>条</div>
		</li>
		<div style="clear:both;"></div>
	</ul>
</div>
<div id="grueBox" style="display:block; padding:10px 35px; top:35%; left:35%; position:fixed; z-index:2222; color:#fff; background: rgba(0,0,0,0.5); border-radius: 5px;">数据加载中...</div>
<div id="searchDiv" style="display:none; padding:10px; top:35%; left:10%; position:fixed; z-index:2222; color:#fff; background: #fff; border: 1px solid #eee; box-shadow: 0px 3px 10px 0px #999; border-radius: 5px;">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td><input id="searchKey" type="text" placeholder="请输入查找期数" style="border: 0px; outline: 0px; height: 30px; color: #999; border: 1px solid #3E94F1; border-radius: 5px 0px 0px 5px; padding-left: 10px;"/></td>
			<td><button onclick="findsearch()" style="margin-left: 0px; background: #3E94F1; border: 0px; outline:none; color: #fff; padding: 8px 25px; border-radius: 0px 5px 5px 0px; height: 34px;">查&nbsp;找</button></td>
		</tr>
	</table>
</div>
<div id="searchRes" style="display:none; width:80%; padding: 10px; top:35%; left:7%; position:fixed; z-index:2222; background: #fff; border: 1px solid #eee; box-shadow: 0px 3px 10px 0px #999; border-radius: 5px;">
	<table border="0" cellspacing="0" cellpadding="10" width="100%" style="text-align: center;">
		<tr>
			<td>期数</td>
			<td style="width:80px;">开奖号码</td>
			<td>开奖时间</td>
		</tr>
		<tr id="contentTR"></tr>
		<tr>
			<td colspan="3"><button onclick="closebox()" style="background: #3E94F1; color: #fff; border: 0px;  width: 100%; padding: 10px 0px; font-size: 15px; outline: none;">确&nbsp;定</button></td>
		</tr>
	</table>
</div>
<script type="text/javascript">
var countdown=${tlong};
document.addEventListener("visibilitychange", function(){
    document.hidden ? "意大利快三" : window.location.href="${BASE_PATH}";
});

sendemail();
//console.log(countdown);
function sendemail(){
	if(countdown<0){
		$("#mmBox").text("--");
		$("#ssBox").text("--");
		//$("#grueBox").css("display","block");
		//$("html,body").css("overflow","hidden");
	}else{
		settime();
	}
}

function settime() {
    if (countdown <= 0) { //倒计时完之后刷新整个页面
    	//$("#grueBox").css("display","block");
    	//$("html,body").css("overflow","hidden");
    	$("#mmBox").text("--");
		$("#ssBox").text("--");
    	var timer2=window.setTimeout(function(){
    		window.location.href="${BASE_PATH}";
			window.clearTimeout(timer2);
		},2000);
        return;
    } else {
    	//$("html,body").css("overflow","unset");
    	var mmss = fromTime(countdown);
    	countdown = parseInt(countdown)-1000;
    	var Time = mmss.split(",");
    	$("#mmBox").text((Time[0]<10?"0"+Time[0]:Time[0]));
		$("#ssBox").text((Time[1]<10?"0"+Time[1]:Time[1]));
    } 
	setTimeout(function() {settime();},1000) 
}

//把毫秒化成分和秒
function fromTime(timeNum){
	var mm = "";
	var ss = "";
	var allSS = parseInt(timeNum)/1000;
	mm = Math.floor(allSS/60);
	ss = allSS%60;
	return mm+","+ss;
}

var date = []; //随机开奖的结果集
var pointDate = []; //画图的结果集
var bigSmallDate = []; //大小的坐标结果集
var signDoubleDate = []; //单双的坐标结果集
var firstNumRe = "";
<% if( dateList != null && dateList.~size > 0 ){ %>
	<% for(item in dateList){ %>
			date.push(formd("${item.qiNum}","${item.Num}"));
	<%}
}%>

if(date.length==0){
	$("#zoushiPuture").append('<tr><td colspan="7">数据为空，请等待开奖...</td></tr>').css("color","#999");
	countClass(2,"xiaoNum");
	countClass(1,"daNum");
	countClass(3,"danNum");
	countClass(4,"shuangNum");
}else{
	firstNumRe = date[0].Num;
	$("#num1").text(firstNumRe.substring(0,1));
	$("#num2").text(firstNumRe.substring(1,2));
	$("#num3").text(firstNumRe.substring(2,3));
	$("#sum").text(parseInt(firstNumRe.substring(0,1))+parseInt(firstNumRe.substring(1,2))+parseInt(firstNumRe.substring(2,3)));
	$("#dx").text(daxiao(parseInt(firstNumRe.substring(0,1))+parseInt(firstNumRe.substring(1,2))+parseInt(firstNumRe.substring(2,3))));
	$("#ds").text(danshuang(parseInt(firstNumRe.substring(0,1))+parseInt(firstNumRe.substring(1,2))+parseInt(firstNumRe.substring(2,3))));
	for(var j=0;j<date.length;j++){
		var chdate = date[j].Num;
		var firstNum = chdate.substring(0,1);
		var secondNum = chdate.substring(1,2);
		var threeNum = chdate.substring(2,3);
		$("#zoushiPuture").append('<tr><td style="width:100px;">'+date[j].qiNum+'</td><td style="width:90px; background:#FFFFEE; font-weight:700;">'+firstNum+','+secondNum+','+threeNum+'</td><td style="width:50px;"></td><td style="width:35px;"></td><td style="width:35px;"></td><td style="width:35px;"></td><td style="width:35px;"></td></tr>');

		//写开奖号码公布
		var thArr = $("#zoushiPuture").find("tr").eq(j+2);
		if(j%2==0){ 
			thArr.css("background","#f9f9f9");
		}
   	 	var tdArr = thArr.find("td");
   	 	/*tdArr.eq(writNum(firstNum)).text(firstNum);
    	tdArr.eq(writNum(secondNum)).text(secondNum);
		tdArr.eq(writNum(threeNum)).text(threeNum);*/
	
		//写和值
		var allRes = parseInt(firstNum)+parseInt(secondNum)+parseInt(threeNum);
    	tdArr.eq(2).text(allRes);
    	//tdArr.eq(2).css({"background":"#3E94F1","color":"#fff"});
	
		//整理画和值的线的坐标
		/*var helfHeight = parseInt(tdArr.eq(writResult(allRes)).height())/2;
		var helfWidth = parseInt(tdArr.eq(writResult(allRes)).width())/2;
		var Y = parseInt(tdArr.eq(writResult(allRes)).offset().top)+helfWidth; 
		var X = parseInt(tdArr.eq(writResult(allRes)).offset().left)+helfHeight; 
		pointDate.push(formPointer(X,Y));*/
	
		//整理画(大小)的线的坐标
		/*var bsHeight = parseInt(tdArr.eq(bigsamll(allRes)).height())/2;
		var bsWidth = parseInt(tdArr.eq(bigsamll(allRes)).width())/2;
		var bsY = parseInt(tdArr.eq(bigsamll(allRes)).offset().top)+bsWidth; 
		var bsX = parseInt(tdArr.eq(bigsamll(allRes)).offset().left)+bsHeight; 
		bigSmallDate.push(formPointer(bsX,bsY));*/
	
		//整理画(单双)的线的坐标
		/*var dsHeight = parseInt(tdArr.eq(signDouble(allRes)).height())/2;
		var dsWidth = parseInt(tdArr.eq(signDouble(allRes)).width())/2;
		var dsY = parseInt(tdArr.eq(signDouble(allRes)).offset().top)+dsWidth; 
		var dsX = parseInt(tdArr.eq(signDouble(allRes)).offset().left)+dsHeight; 
		signDoubleDate.push(formPointer(dsX,dsY));*/
	
		//写大小
		if(allRes<=10){
			tdArr.eq(4).text("小").addClass("xiaoNum");
			tdArr.eq(4).css({"background":"#8F7A9E","color":"#fff"});
		}else if(allRes>10){
			tdArr.eq(3).text("大").addClass("daNum");
			tdArr.eq(3).css({"background":"#8F7A9E","color":"#fff"});
		}
	
		//写单双
		if(allRes%2==0){
			tdArr.eq(6).text("双").addClass("shuangNum");
			tdArr.eq(6).css({"background":"#E33026","color":"#fff"});
		}else{
			tdArr.eq(5).text("单").addClass("danNum");
			tdArr.eq(5).css({"background":"#E33026","color":"#fff"});
		}
	
		//写质合
		if(allRes==3||allRes==5||allRes==7||allRes==11||allRes==13||allRes==17){
			tdArr.eq(24).text("质");
			tdArr.eq(24).css({"background":"#F64C56","color":"#fff"});
		}else{
			tdArr.eq(25).text("合");
			tdArr.eq(25).css({"background":"#F64C56","color":"#fff"});
		}
	
		//写路数
		if(allRes%3==0){
			tdArr.eq(26).text("0");
			tdArr.eq(26).css({"background":"#9C58CC","color":"#fff"});
		}else if(allRes%3==1){
			tdArr.eq(27).text("1");
			tdArr.eq(27).css({"background":"#9C58CC","color":"#fff"});
		}else if(allRes%3==2){
			tdArr.eq(28).text("2");
			tdArr.eq(28).css({"background":"#9C58CC","color":"#fff"});
		}
		
	}
	
	$("#zoushiPuture").append('<tr id="recountTable" style="height:36px;"><td colspan="3" style="width:242px;">出现次数</td><td style="width:35px;"></td><td style="width:35px;"></td><td style="width:35px;"></td><td style="width:35px;"></td></tr>');	
	countClass(2,"xiaoNum");
	countClass(1,"daNum");
	countClass(3,"danNum");
	countClass(4,"shuangNum");
}

$(function(){
	//$("#contentBox").css("height",(window.screen.height-100));
	$("#searchDiv").css("left",(window.screen.width-284)/2);
	$("#grueBox").css("left",(window.screen.width-145)/2);
	for(var i=1; i<pointDate.length; i++){
		var top1 = pointDate[i-1].y;//起点的y坐标
		var left1 = pointDate[i-1].x;//终点的x坐标
		var top2 = pointDate[i].y;//终点的y坐标
		var left2 = pointDate[i].x;//终点的x坐标
		drawLine2(left1,top1,left2,top2,(i-1),1);
	}
	$("#grueBox").css("display","none");
	//console.log(bigSmallDate);
	/*for(var i=1; i<bigSmallDate.length; i++){
		var top1 = bigSmallDate[i-1].y;//起点的y坐标
		var left1 = bigSmallDate[i-1].x;//终点的x坐标
		var top2 = bigSmallDate[i].y;//终点的y坐标
		var left2 = bigSmallDate[i].x;//终点的x坐标
		drawLine2(left1,top1,left2,top2,(i-1),2);
	}
	
	for(var i=1; i<signDoubleDate.length; i++){
		var top1 = signDoubleDate[i-1].y;//起点的y坐标
		var left1 = signDoubleDate[i-1].x;//终点的x坐标
		var top2 = signDoubleDate[i].y;//终点的y坐标
		var left2 = signDoubleDate[i].x;//终点的x坐标
		drawLine2(left1,top1,left2,top2,(i-1),3);
	}*/
});

function closebox(){
	$("#searchRes").css("display","none");
}

function daxiao(allRes){
	if(allRes<=10){
		return "小";
	}else if(allRes>10){
		return "大";
	}
}

function danshuang(allRes){
	if(allRes%2==0){
		return "双";
	}else{
		return "单";
	}
}

function findsearch(){
	var keyval = $("#searchKey").val().trim();
	$.ajax({ 
		  type:'POST', 
		  url:'${BASE_PATH}findqiNum', 
		  data:{"qiNum":keyval},
		  success:function(data){ 
			  if(data.msg==0){
				  $("#contentTR").html("<td style='color:#999; font-size:15px;' colspan='3'>没有找到有关结果</td>");
			  }else{
				  $("#contentTR").html("<td>"+data.resdate.qiNum+"</td><td>"+data.resdate.Num+"</td><td>"+data.resdate.creantime+"</td>");
			  }
			  $("#searchRes").css("display","block");
		  }, 
		  error:function(){ 
		    alert("系统繁忙，请稍后再试!");
		  } 
	}); 
}

function formd(qiNum, Num){
	var jsond = {};
	jsond.qiNum = qiNum;
	jsond.Num = Num;
	return jsond;
}

function bigsamll(allRes){
	if(allRes<=10){
		return 21;
	}else if(allRes>10){
		return 20;
	}
}

function signDouble(allRes){
	if(allRes%2==0){
		return 23;
	}else{
		return 22;
	}
}

function subsTime(timedate){
	timedate = timedate.substring(11,timedate.length);
	return timedate;
}

function writResult(allRes){
	if(allRes==3||allRes=="3"){
		return 4;
	}else if(allRes==4||allRes=="4"){
		return 5;
	}else if(allRes==5||allRes=="5"){
		return 6;
	}else if(allRes==6||allRes=="6"){
		return 7;
	}else if(allRes==7||allRes=="7"){
		return 8;
	}else if(allRes==8||allRes=="8"){
		return 9;
	}else if(allRes==9||allRes=="9"){
		return 10;
	}else if(allRes==10||allRes=="10"){
		return 11;
	}else if(allRes==11||allRes=="11"){
		return 12;
	}else if(allRes==12||allRes=="12"){
		return 13;
	}else if(allRes==13||allRes=="13"){
		return 14;
	}else if(allRes==14||allRes=="14"){
		return 15;
	}else if(allRes==15||allRes=="15"){
		return 16;
	}else if(allRes==16||allRes=="16"){
		return 17;
	}else if(allRes==17||allRes=="17"){
		return 18;
	}else if(allRes==18||allRes=="18"){
		return 19;
	}
}

function formPointer(x,y){
	var jsond = {};
	jsond.x = x;
	jsond.y = y;
	return jsond;
}

//封装一个画线的方法
function drawLine2(x1,y1,x2,y2,index,objNum){
	var top = 0;
	var left = 0;
	var width = 0;
	var height = 0;
	var starPoint1 = 0;
	var overPoint1 = 0;
	var starPoint2 = 0;
	var overPoint2 = 0;
	if(x2>x1){
		top=y1;
		left=x1;
		width = x2-x1;
		height = y2 - y1;
		starPoint1 = 0;
		overPoint1 = 0;
		starPoint2 = width;
		overPoint2 = height;
	}else{
		top=y1;
		left=x2;
		width = x1-x2;
		height = y2 - y1;
		starPoint1 = width;
		overPoint1 = 0;
		starPoint2 = 0;
		overPoint2 = height;
	}
	//console.log(x1+","+y1+"/"+x2+","+y2+"/"+index);
	var cava = '<canvas width="'+(width+2)+'" height="'+height+'" style="position: absolute; top: '+top+'px; left: '+left+'px;"></canvas>'
	$("#canvasBox"+objNum).append(cava);
	
	var canvas=$("#canvasBox"+objNum+" canvas")[index];
	var ctx=canvas.getContext('2d');
	ctx.beginPath();
	ctx.moveTo(starPoint1,overPoint1);
	ctx.lineTo(starPoint2,overPoint2);
	ctx.strokeStyle = "#3E94F1";
	ctx.stroke();
}

function countClass(num,calssName){
	$("#recountTable").find("td").eq(num).text($("."+calssName).length);
}

$(function(){
$("#zoushiMap").click(function(){
	$("#zoushiBox").show();
	$("#resuBox").hide();
});

$("#reSultBtn").click(function(){
	$("#zoushiBox").hide();
	$("#resuBox").show();
});

});
</script>
</body>
</html>
